* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    color: #606060;
    font-family: 'Open Sans', sans-serif;
}

nav {
    text-align: right;
    padding: 30px 30px 0 0;
    width: 100%;
    height: 100px;
    background: #c5c4c5;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    font-size: 16px;
}

nav>a {
    color: rgb(19, 18, 18);
    font-weight: 300;
    font-size: 11px;
    text-decoration: none;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color:  rgb(19, 18, 18);
}

.carrito {
    text-decoration: none;
    padding: 4px;
    font-weight: 100;
    font-size: 11px;
    color: #ffffff;
    background-color: #0d0d0e;
    border-radius: 4px;
    border: 2px solid #111111;
}

.camba {
    margin-left: 50px;
    margin-top: 10px;
    width: 200px;
    height: 60px;
    margin-right: 350px;
}

.portada {
    display: table;
    float: left;
    
}

.textos-header {
    text-align: center;
    padding-top: 50px;
}

.textos-header>h2 {
    font-size: 16px;
}

.textos-header>p {
    font-size: 12px;
}

.nuevo {
    margin-left: 250px;
    padding-top: 16px;
}

.nuevo>.new {
    text-decoration: none;
    padding: 10px;
    width: auto;
    color: #ffffff;
    background-color: #0d0d0e;
}

.main-content {
    /*display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    margin-bottom: 100p;*/
    display: grid;
    height: 100%;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: 200px 200px 200px;
    justify-content: center;
    align-content: center;
    column-gap: 2px;
    
}

.container {
    padding-top: 2%;
    width: 350px;
    height: 125px;
}

.imgrow {
    padding-top: 2%;
    width: 150px;
    height: 200px;
    display: table;
    float: left;
    border-radius: 3px;
}

.contenedor-footer {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 10px;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: rgb(15, 15, 15);
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 14px;
    margin: 20px 0 0 0;
    color: #9e9797;
    padding-bottom: 10px;
}

button {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 11px;
    width: 25%;
}

.btn1 {
    background-color: lightgreen;
    color: white;
    border: 0;
}

.btn2 {
    background-color: red;
    color: white;
    border: 0;
}

@media screen and (max-width: 1024px) {
    .camba {
        margin-left: 50px;
        margin-top: 10px;
        width: 200px;
        height: 60px;
        margin-right: 100px;
    }
    
    .portada {
        display: table;
        float: left;
        
    }

    .nuevo {
        display: flex;
        align-items: center;
        padding-top: 5px;
    }
    
    .nuevo>.new {
        text-decoration: none;
        padding: 10px;
        width: auto;
        color: #ffffff;
        background-color: #0d0d0e;
    }
    
    .main-content {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 300px;
        margin-bottom: 100p;
    }
    
    .container {
        width: 100px;
        height: 125px;
        margin: auto;
        margin-top: 20px;
    }
    
    .imgrow {
        width: 130px;
        height: 200px;
        border-radius: 3px;
    }

    .main-content {
        /*display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 300px;
        margin-bottom: 100p;*/
        display: grid;
        height: 100%;
        grid-template-columns: 300px;
        grid-auto-rows: 200px;
        justify-content: center;
        align-content: center;
        column-gap: 2px;
        
    }
    
    .container {
        padding-top: 2%;
        width: 320px;
        height: 125px;
        margin: auto;
        margin-top: 20px;
    }
    
    .imgrow {
        padding-top: 2%;
        width: 150px;
        height: 200px;
        display: table;
        float: left;
        border-radius: 3px;
    }
}