body {
    font-size: 12px;
    color: #606060;
    font-family: 'Open Sans', sans-serif;
}

nav {
    text-align: right;
    padding: 30px 0px 0 0;
}

nav>a {
    color: rgb(19, 18, 18);
    font-weight: 300;
    font-size: 11px;
    text-decoration: none;
    margin-right: 18px;
}

.carrito {
    text-decoration: none;
    padding: 4px;
    font-weight: 100;
    font-size: 11px;
    color: #ffffff;
    background-color: #0d0d0e;
    border-radius: 4px;
    border: 2px solid #111111;
}

.camba {
    margin-left: 50px;
    margin-top: 10px;
    width: 200px;
    height: 60px;
    margin-right: 350px;
}

.portada {
    display: table;
    float: left;
}

.textos-header {
    width: 100%;
    height: 190px;
    background: #c5c4c5;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img {
    width: 700px;
    height: 600px;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 700px 700px;
    grid-template-rows: 600px;
    justify-content: center;
    align-content: center;
    column-gap: 2px;
}

.description {
    padding: 10%;
}

h1 {
    font-size: 16px;
}

.contenedor-footer {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 10px;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: rgb(15, 15, 15);
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 14px;
    margin: 20px 0 0 0;
    color: #9e9797;
    padding-bottom: 10px;
}

p {
    padding: 10px;
}

#hr1 {
    width: 20%;
    display: inline-block;
}

button {
    text-decoration: none;
    padding: 4px;
    height: 40px;
    width: 30%;
    font-weight: 100;
    font-size: 11px;
    color: #ffffff;
    background-color: #333333;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 1024px) {
    .camba {
        margin-left: 50px;
        margin-top: 10px;
        width: 200px;
        height: 60px;
        margin-right: 100px;
    }
    
    .portada {
        display: table;
        float: left;
    }

    .container {
        display: grid;
        height: 100%;
        grid-template-columns: 300px;
        grid-template-rows: 20px;
        justify-content: center;
        align-content: center;
        column-gap: 2px;
    }

    .image {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
    }
    
    .img {
        width: 300px;
        height: 200px;
    }

    .description {
        padding-top: 60%;
    }
}