* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    color: #606060;
    font-family: 'Open Sans', sans-serif;
}

nav {
    text-align: right;
    padding: 30px 0px 0 0;
}

nav>a {
    color: rgb(19, 18, 18);
    font-weight: 300;
    font-size: 11px;
    text-decoration: none;
    margin-right: 18px;
}

.camba {
    margin-left: 50px;
    margin-top: 10px;
    width: 200px;
    height: 60px;
    margin-right: 350px;
}

.portada {
    display: table;
    float: left;
}

.carrito {
    text-decoration: none;
    padding: 4px;
    font-weight: 100;
    font-size: 11px;
    color: #ffffff;
    background-color: #0d0d0e;
    border-radius: 4px;
    border: 2px solid #111111;
}

.textos-header {
    width: 100%;
    height: 190px;
    background: #c5c4c5;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main .textos-header>h1 {
    padding: 100px 0 4px 0;
    text-align: center;
    font-size: 16px;
    font-weight: Bold;
}

#hr1 {
    height: 1px;
    width: 20%;
    display: inline-block;
    background-color: rgb(16, 16, 17);
}

.contenedor-footer {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 10px;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: rgb(15, 15, 15);
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 0 0;
    color: #9e9797;
    padding-bottom: 10px;
}

.register {
    text-align: center;
}

.required {
    width: 13%;
    height: 40px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.direc {
    width: 27.2%;
    height: 40px;
    padding-left: 10px;
}

.city {
    width: 13%;
    height: 40px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.usere {
    width: 13%;
    height: 40px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

main .button {
    padding: 4px 0 20px 0;
    text-align: center;
    font-size: 11px;
}

#hr2 {
    height: 1px;
    width: 27.2%;
    display: inline-block;
    background-color: black;
}

.botonRe {
    text-decoration: none;
    padding: 4px;
    height: 40px;
    width: auto;
    font-weight: 100;
    font-size: 11px;
    color: #ffffff;
    background-color: #333333;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

.botonCan {
    text-decoration: none;
    padding: 4px;
    height: 40px;
    width: auto;
    font-weight: 100;
    font-size: 11px;
    color: #ffffff;
    background-color: #808080;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

.button>p {
    font-size: 15px;
    padding: 10px;
}

@media screen and (max-width: 1024px) {
    .required {
        width: 40%;
        height: 40px;
        padding-left: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .direc {
        width: 83.2%;
        height: 40px;
        padding-left: 10px;
    }
    
    .city {
        width: 40%;
        height: 40px;
        padding-left: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .usere {
        width: 40%;
        height: 40px;
        padding-left: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    main .button {
        padding: 4px 0 20px 0;
        text-align: center;
        font-size: 11px;
    }
    
    #hr2 {
        height: 1px;
        width: 27.2%;
        display: inline-block;
        background-color: black;
    }
}