* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    color: #606060;
    font-family: 'Open Sans', sans-serif;
}

nav {
    text-align: right;
    padding: 30px 40px 0 0;
}

nav>a {
    color: rgb(19, 18, 18);
    font-weight: 300;
    font-size: 11px;
    text-decoration: none;
    margin-right: 18px;
}

a {
    color: rgb(19, 18, 18);
    font-weight: 300;
    font-size: 11px;
    text-decoration: none;
}

.camba {
    margin-left: 50px;
    margin-top: 10px;
    width: 200px;
    height: 60px;
    margin-right: 350px;
}

.carrito {
    text-decoration: none;
    padding: 4px;
    font-weight: 100;
    font-size: 11px;
    color: #ffffff;
    background-color: #0d0d0e;
    border-radius: 4px;
    border: 2px solid #111111;
}

header {
    width: 100%;
    height: 250px;
    background: #c5c4c5;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.portada {
    display: table;
    float: left;
}


#hr1 {
    height: 1px;
    width: 15%;
    display: inline-block;
    background-color: rgb(15, 15, 15);
}

#hr4 {
    height: 1px;
    width: 100%;
    background-color: rgb(15, 15, 15);
    padding-top: 0%;
    margin: auto;
}

.inicio {
    text-align: center;
}

.titulo {
    text-align: center;
}

.required {
    width: 27.2%;
    height: 40px;
    padding-left: 10px;
    background: #c5c5c5;
}

.botonRe {
    text-decoration: none;
    padding: 4px;
    height: 41px;
    width: 11%;
    font-weight: 100;
    font-size: 11px;
    color: #ffffff;
    background-color: #333333;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

.main-content {
    /*width: 40%;
    margin-top: -40px;
    margin: auto;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.division {
    margin-top: 50px;
}

.container {
    width: 100px;
    height: 125px;
    margin: 10px;
    margin-top: 20px;
    float: left;
}

.maincontainer {
    text-align: center;
    padding: 0px 0px 10px 0px;
}

.imgrow {
    width: 100px;
    height: 130px;
    display: block;
    margin-top: 10px;
    margin-left: 0px;
}

/*.im {
    text-align: left;
}

.img {
    width: 100px;
    height: 130px;
}*/

h1 {
    text-align: center;
    font-size: 16px;
    padding-top: 1%;
}

.slider {
    width: 40%;
    margin-top: -40px;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 210%;
    animation: cambio 20s infinite alternate;
}

.slider li {
    width: 50%;
    list-style: none;
    text-align: left;
}

.slider img {
    width: 400px;
    height: 200px;
    display: block;
    margin-top: 10px;
    margin-left: 0px;
}

.contenedor-footer {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 10px;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: rgb(15, 15, 15);
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 14px;
    margin: 20px 0 0 0;
    color: #9e9797;
    padding-bottom: 10px;
}

p {
    padding: 10px;
}
@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100;
    }
    45% {
        margin-left: -100%;
    }
}

@media screen and (max-width: 1024px) {
    .portada {
        display: table;
        float: left;
    }

    .camba {
        margin-left: 50px;
        margin-top: 10px;
        width: 200px;
        height: 60px;
        margin-right: 110px;
    }

    a {
        color: rgb(19, 18, 18);
        font-weight: 300;
        font-size: 11px;
        text-decoration: none;
    }
}